<h1>Vote for your favorite flop</h1>

<div style="display: flex; flex-wrap: wrap">
  <div style="margin: 25px">
    <h2 [hidden]="!isSelected(0)">The chosen one!</h2>
    <img
      src="https://cdn11.bigcommerce.com/s-ydriczk/images/stencil/original/products/86974/86527/the_hobbit_the_desolution_of_smaug__final_poster_buy_original_movie_posters_at_starstills__35272__21743.1394515789.jpg?c=2"
    />
    <button [disabled]="anySelected() && !isSelected(0)" (click)="onVote(0)">
      {{ getButtonText(0) }}
    </button>
  </div>
  <div style="margin: 25px">
    <h2 [hidden]="!isSelected(1)">The chosen one!</h2>
    <img
      src="https://cdn.shopify.com/s/files/1/1416/8662/products/twilightnewmoon_2009_original_film_art_b4de3022-d6fa-43f4-815a-c2cc4df164f1_1200x.jpg?v=1618949594"
    />
    <button [disabled]="anySelected() && !isSelected(1)" (click)="onVote(1)">
      {{ getButtonText(1) }}
    </button>
  </div>
  <div style="margin: 25px">
    <h2 [hidden]="!isSelected(2)">The chosen one!</h2>
    <img
      src="https://m.media-amazon.com/images/M/MV5BZTJiZjFkNmYtNmU3My00MmE1LWI4YWEtNWFkZDJiOTgwMTNkXkEyXkFqcGdeQXVyMTg0MTI3Mg@@._V1_.jpg"
    />
    <button [disabled]="anySelected() && !isSelected(2)" (click)="onVote(2)">
      {{ getButtonText(2) }}
    </button>
  </div>
  <div style="margin: 25px">
    <h2 [hidden]="!isSelected(3)">The chosen one!</h2>
    <img
      src="https://cdn.cinematerial.com/p/297x/knnahuxr/cry-wilderness-movie-poster-md.jpg?v=1456385813"
    />
    <button [disabled]="anySelected() && !isSelected(3)" (click)="onVote(3)">
      {{ getButtonText(3) }}
    </button>
  </div>
</div>

<app-movie-selector
  [movie]="flops[0]"
  (select)="onFirstSelected()"
></app-movie-selector>

<app-movie-selector
  [movie]="flops[1]"
  (select)="onSecondSelected()"
></app-movie-selector>
